html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  border: 1px solid black;
  background-color: #cce6ff;
  display: grid;
  grid-template-columns: repeat(6 1fr);
  grid-template-rows: repeat(6 1fr);
  grid-template-areas:  "n h h h h a"
                        "n m m m m a"
                        "n m m m m a"
                        "n m m m m a"
                        "n m m m m a"
                        "n f f f f a";

  margin: .5em;
}
header {
  border: 1px solid black;
  padding: .5em;
  grid-area: h;
}
main {
  border: 1px solid black;
  grid-area: m;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}
nav {
  border: 1px solid black;
  grid-area: n;
  padding: 1em;
}
section {
  border: 1px solid black;
  margin: .5em;
  padding: .5em;
  flex: 1;
}
aside {
  border: 1px solid black;
  grid-area: a;
  padding: 1em;
}
footer {
  border: 1px solid black;
  grid-area: f;
}
h1 {
  color: orange;
  border: 1px solid black;
  padding: .5em;
}
h2 {
}
#kropotkin {
  height: 150px;
  width: 150px;
}
ul {
  margin: .5em;
  padding: .5em;
  border: 1px solid black;
}
li {
  list-style-type: none;
}
p {
  margin: .5em;
  padding: .5em;
  border: 1px solid black;
}
