<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Breadlist: {{ section }} {{ subsection}} in {{ locale }}</title>{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'classifieds/style.css' %}">
  </head>
  <body>
    <header>
      <h2><a href="{% url 'classifieds:locale' locale.id %}"> {{ locale.locale_name }} </a></h2>
      <h3><a href="{% url 'classifieds:section' locale.id section %}"> {{ section }}: </a></h3>
      <h4>{{ subsection }}</h4>
    </header>
    <nav>
      <img id="kropotkin" src="{% static "classifieds/images/kropotkin.jpg" %}" alt="the face of peter kropotkin done in a woodblock style"></img>
      <h1><a href="{% url 'classifieds:index' %}">Breadlist</a></h1>
      <p><a href="{% url 'classifieds:create_classified' %}">create a classified</a></p>
      <ul>{% for p in page_list %}
        <li id={{ p }}><a href="{% url 'classifieds:page' p.page_name %}">{{ p }}</a></li>{% endfor %}
      </ul>
    </nav>
    <main>{% if subsection_classified_list %}
      <ul>{% for c in subsection_classified_list %}
          <li><a href="{% url 'classifieds:detail' c.id %}">{{ c }}</a></li>{% endfor %}
      </ul>{% else %}
    <p>No classifieds are available.</p>{% endif %}
    </main>
    <aside>
      <ul>{% for r in region_list %}
        <li class="sidebar-locale"><a href="{% url 'classifieds:region' r.id %}">{{ r }}</a></li>{% endfor %}
      </ul>
    </aside>
    <footer>
      <ul>
        <li><a href="{% url 'classifieds:index' %}">breadlist</a></li>
        <li><a href="{% url 'classifieds:region' locale.region_id %}">breadlist/{{ locale.region }}</a></li>
        <li><a href="{% url 'classifieds:province' locale.province_id %}">breadlist/{{ locale.region }}/{{ locale.province }}</a></li>
        <li><a href="{% url 'classifieds:locale' locale.id %}">breadlist/{{ locale.region }}/{{ locale.province }}/{{ locale }}</a></li>
        <li><a href="{% url 'classifieds:section' locale.id section.section_name %}">breadlist/{{ locale.region }}/{{ locale.province }}/{{ locale }}/{{ section }}</a></li>
      </ul>
    </footer>
  </body>
</html>
